@use "../base/variables" as v;
.footer{
    padding: calc(v.$separacion / 2) 0;
    background-color: v.$grisOscuro;
    margin-bottom: 0;
    
    .contenido-footer{
        padding-top: calc(v.$separacion / 2);
    }
    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
        a{
            font-size: 2rem;
            padding-right: 3rem;
            color: white;
        }
    }

    .copyright{
        color: v.$blanco;
        text-align: center;
    }
}