@use "../base/mixins" as m;
@include m.tablet{
    .iconos-nosotros{
        @include m.grid(3,2rem);
    }
    
}
.icono{
    text-align: center;
    justify-items: center;

    img{
        height: 10rem;
        width: 10rem;
        max-width: 10rem;
    }
    h3{
        text-transform: uppercase;
    }
    p{
        text-align: justify;
        word-break:keep-all;
    }
}